html,
body {
    height: 100%;
    width: 100%;
}


.welcome_middle {
    background-image: url('../images/background2.jpg');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.text_welcome {
    padding: 70px;
    font-size: 70px;
    color: white;
    font-family: serif;

}


.btn{
    background-color: white;
    color: black;
    
}

.content{
    background-color: white;
    padding: 15px;
    width: 70%;
    border-radius: 15px;
    margin: auto;
    margi
}



