body {
    background-image: url('../images/background6.jpg');
    background-size: fill;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.text_welcome {
    padding: 70px;
    font-size: 70px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.heading {
    text-align: center;
}

i {
    float: right;
}

i:hover {
    background-color: lightgrey;
}

.main {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.content {
    background-color: white;
    padding: 15px;
    width: 70%;
    border-radius: 5px;
    margin: auto;
}

.navbar-light .navbar-brand {
    color: white;
}

.btn {
    background-color: white;
    color: black;

}

.heading {
    text-align: center;
    display: inline-block;
    overflow: hidden;
}


.btn1 {
    text-align: center;
}

.main {
    width: 80%;
}

.content {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .navbar2 {
        display: none;
    }

}